.container {
  height: 100vh;
  @include flexC;

  .header {
    width: 100%;
  }

  .body {
    width: 100%;

    @for $index from 1 through 10 {
      div.theme--#{$index} {
        color: getPrimary($index);
        background: getColor($index, $color-pr, black);
      }
    }
  }
}
