.container {

  height: 100vh;
  @include flexC;

  .header {
    width: 100%;
  }

  .body {
    width: 100%;

    .theme {
      color: $primary;
    }

    @for $index from 1 through 10 {
      :nth-child(#{$index}) {
        background: getPrimary($index);
      }
    }
  }
}
